@page
@model RegistrarModel
@{
}
<div id="" class="container2">
    <form method="post" enctype="multipart/form-data">
        <div class="modal-content">
            <center>
                <h5>Registrar usuarios</h5>
            </center>
            <div class="row">
                <div class="col s9 m4">
                    <div class="card">
                        <div class="card-content white-text">
                            <center>
                                <span class="card-title blue-gray-text"> Foto o Imagen </span>
                                <output id="imageRegistrar">
                                    <img src="~/images/fotos/default.png" alt="foto" />
                                </output>
                            </center>
                        </div>
                        <div class="card-action">
                            <a href="#">
                                <div class="file-field">
                                    <div class="btn waves-effect waves-light">
                                        <span>Subir</span>
                                        <input asp-for="Input.AvatarImage" accept="image/*" type="file" id="files" />
                                    </div>
                                    <br />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m6 s12">
                        <input asp-for="Input.Nombre" placeholder="Nombre" id="nombre" />
                        <label asp-for="Input.Nombre">Nombre</label>
                        <span asp-validation-for="Input.Nombre" class="text-danger"></span>
                    </div>
                    <div class="input-field col m6 s12">
                        <input asp-for="Input.Apellido" placeholder="Apellido" id="apellido" />
                        <label asp-for="Input.Apellido">Apellido</label>
                        <span asp-validation-for="Input.Apellido" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col m6 s12">
                    <input asp-for="Input.DNI" placeholder="Documento nacional de identidad" id="DNI" />
                    <label asp-for="Input.DNI">DNI</label>
                    <span asp-validation-for="Input.DNI" class="text-danger"></span>
                </div>
                <div class="input-field col m6 s12">
                    <input asp-for="Input.Telefono" placeholder="Nº de Teléfono" id="telefono" />
                    <label asp-for="Input.Telefono">Teléfono</label>
                    <span asp-validation-for="Input.Telefono" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m6 s12">
                    <input asp-for="Input.Email" placeholder="Email" id="email" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="input-field col m6 s12">
                    <input asp-for="Input.Password" placeholder="Password" id="password" />
                    <label asp-for="Input.Password">Contraseña</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                @Html.DropDownList("Input.Role", new SelectList(Model.Input.rolesLista, "Text",
               "Text"), "Seleccione un role", null)
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="waves-effect waves-light btn">Registrar</button> 
        </div>
    </form>

</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

