@page
@model ResetModel
@{
}
<div class="container">
    <div class="row">
        <div class="col s12 m4 l4">
            <form method="post" enctype="multipart/form-data"></form>
        </div>
    </div>

</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
