
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Aquí podemos poner una imagen un texto lo que queramos-->
<h2>Error en la página </h2>
<h2>@ViewData["Error"]</h2>

